.page{
    position: relative;
}
.left-menu{
    width: 256px;
    height: calc(100% - 60px);
    overflow: scroll;
}
.display{
    width:calc(100% - 295px);
    position: absolute;
    top:0.5rem;
    right: .5rem;
    height: calc(100% - 60px);
    
}
@media (max-width:1000px) {
    .display{
        height: 300vh;
    }
}
.top-menu-logo{
    float: left;
    height:45.8px;
    /* display:inline-block; */
    font-size:25px;
    color:#85a5ff;
    font-family:'Papyrus';
    background-color: transparent;
}